In [1]:
def parse_line(text, keys_to_extract=['bbox', 'width', 'height', 'id']):
    """
    turns a non quote json content to dict
    eg:
        'id: 0, height: 330, width: 1093, bbox:[69, 464, 312, 175],'
        to
        {'bbox': [69, 464, 312, 175], 'width': 1093, 'height': 330, 'id': 0}
    Arguments:
        text: str, the content to be extracted
        keys_to_extract: list, the expected keys in the content, ⚠️ in reverse order!
    Returns:
        parsed_content: dict
    """
    parsed_content = {}
    start = None
    for key_name in keys_to_extract:
        stop, start = start, text.index(key_name)
        content = text[start:stop].strip(', ')
        k, v = [x.strip(' ') for x in content.split(':')]
        parsed_content[k] = eval(v)
    return parsed_content

In [2]:
with open('./sample_coco.txt', 'r') as f:
    coco_data = [parse_line(x.strip()) for x in f.readlines()]

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(coco_data)

In [26]:
df

                       bbox  width  height  id
0       [69, 464, 312, 175]   1093     330   0
1       [359, 292, 83, 199]    439     782   1
2      [297, 312, 267, 167]    831     645   3
3      [275, 112, 319, 290]    608     943  34
4       [71, 368, 146, 147]    857     593  20
...                     ...    ...     ...  ..
10100   [62, 129, 234, 142]    550     285   2
10101   [389, 78, 140, 158]    340     735  37
10102  [359, 240, 297, 258]    665     677  15
10103   [95, 168, 271, 138]    653     474  69
10104   [378, 46, 320, 279]    509     862  62

[10105 rows x 4 columns]

In [28]:
# ! wget http://images.cocodataset.org/annotations/annotations_trainval2014.zip
# ! unzip annotations_trainval2014.zip

Archive:  annotations_trainval2014.zip
  inflating: annotations/instances_train2014.json
  inflating: annotations/instances_val2014.json
  inflating: annotations/person_keypoints_train2014.json
  inflating: annotations/person_keypoints_val2014.json
  inflating: annotations/captions_train2014.json
  inflating: annotations/captions_val2014.json

In [ ]:
## create Category mapping
# ! wget http://images.cocodataset.org/annotations/annotations_trainval2014.zip
# ! unzip annotations_trainval2014.zip

In [41]:
import json

ins_train = json.load(open('./annotations/instances_train2014.json', 'r'))
categories = ins_train['categories']
category_mapping = {r['id'] - 1:r['name'] for r in categories}
with open('./category_mapping.json', 'w') as fw:
    json.dump(category_mapping, fw)

In [43]:
! rm -rf ./annotations/

In [44]:
! ls

01_coco_analysis.ipynb	category_mapping.json  README.md  sample_coco.txt